<? if (!isEmpty(pages) && !isEmpty(total) && !isEmpty(current)) { ?>
<ul class="pagination center-align">

    <li class="<?= ((current - 1) > 0) ? 'waves-effect' : 'disabled' ?>">
        <a href="<?=((current - 1) > 0) ? '/stories?page=' + (current - 1) : '#'?>"><i class="material-icons">chevron_left</i></a>
    </li>
    
    <? if (Number(current) > 4) { ?>
        <li class="waves-effect">
            <a href="/stories?page=<?= (current - 1) ?>">...</a>
        </li>
    <? } ?>

    <? let x = (Number(current) > 4 ? Number(current) - 3 : 1) ?>

    <? for (; x <= (Number(current) + 3) && x <= pages; x++) { ?>
        <li class="<?= (current === x) ? 'active' : 'waves-effect' ?>">
            <a href="/stories?page=<?=x?>"><?=x?></a>
        </li> 

        <? if (x == Number(current) + 3 && x <= pages) { ?>
            <li class="waves-effect">
                <a>...</a>
            </li>
        <? } ?>
    <? } ?>
    
  

    <li class="<?= ((current + 1) >= pages) ? 'disabled' : 'waves-effect' ?>">
        <a href="<?=((current + 1) >= pages) ? '#' : '/stories?page=' + (current + 1) ?>"><i class="material-icons">chevron_right</i></a>
    </li>
</ul>
<? } ?>