<?- include('../partials/header')?>
<main class="section no-padding">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Dashboard</h4>
			</div>
		</div>
	</div>
</main>
<?- include('../partials/footer')?>