<?- include('../partials/header')?>
<main class="section no-padding">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5><?-headline?></h5>
			</div>

			<div class="col s12">
				<p><?-data.description?></p>
			
				<? if (typeof data.postedBy !== undefined) { ?>
					<p>Date: <b><?- new Date(data.created_at).toDateString() ?></b></p>
					<p>Posted By: <b><?- data.postedBy.name ?></b></p>
				<? } ?>
			</div>
		</div>
	</div>
</main>
<?- include('../partials/footer')?>
